[Unit]
Description=DNS Query Interceptor
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
RestartForceExitStatus=1
ExecStartPre=docker-compose -f /usr/local/etc/interceptor/docker-compose.yml up -d postgres
ExecStart=/usr/local/bin/interceptor -i %i -q --db-host localhost:5432 --db-name interceptor --db-user vsix --db-password-file /usr/local/etc/interceptor/.secrets/db_password.txt
RemainAfterExit=yes
OOMPolicy=stop

[Install]
Also=docker.service
WantedBy=multi-user.target